# API keys — never commit these
.env
your_api_keys= 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
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ChromaDB local storage
chroma_db/
chroma/

# macOS
.DS_Store
